* {
  margin: 0;
  border: 0;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
}

body {
  background-color: #0f0b24;
  color: white;
}

Link {
  text-decoration: none;
}
