.container {
  display: flex;
  padding: 3rem 10rem;
  gap: 100px;
}

.imageContainer {
  flex: 1;
  max-width: fit-content;
}

.textContainer {
  flex: 2;
  width: 600px;
}

.textContainer h1 {
  margin-bottom: 2rem;
}

.AuthorPub {
  display: flex;
  gap: 20px;
  margin-bottom: 2rem;
  align-items: center;
}

.textContainer .avatar {
  border-radius: 50%;
}
